body {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

h1 h2 h3 h4 h5 h6 p {
    margin: 0;
    padding: 0;
}

#pregame {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 8px;
    width: 80vw;
    max-width: 500px;
    border: 8px dashed white;
    margin-top: 14px;
}

#players {
    overflow:hidden;
    text-align:center; 
    width:100%
}
#players-left, #players-right {
    float: left;
    width: 50%;
    padding:0;
    margin: 0;
    vertical-align: top;
    overflow: hidden;
}

#center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#pregame-button {
    background: white;
    border: none;
    border-radius: 0;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
    margin-top: 30px;
}
#pregame-button:hover {
    background: #bbbbbb;
}

#players-label {
    color: gray;
    margin: 0;
    font-size: 20px;
}

#players {
    font-size: 32px;
    margin-bottom: 32px;
}

#round {
    color: gray;
    font-size: 30px;
    margin: 0;
}

#code {
    margin:0;
    font-size: 130px;
}

#code-label {
    color: gray;
    margin-bottom: 0;
    font-size: 30px;
}

#write-timer {
    font-size: 240px;
    margin:0;
}

#break-countdown {
    font-size: 240px;
    margin:0;
}
#ready {
    color: gray;
    font-size: 28px;
    margin: 0;
}

#post-game {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 8px;
    width: 80vw;
    max-width: 760px;
    border: 8px dashed white;
    margin-top: 30px;
}

#current-prompt {
    font-size: 24px;
    color: gray;
}

#current-comp {
    font-size: 32px;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    transition: transform 1s linear;
}