body {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

#center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: brown;
    transition: transform 1s linear;
}

#host {
    color: white;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#join {
    color: white;
    font-size: 20px;
    margin: 0;
}

#join:hover {
    color: brown;
    cursor: pointer;
}
#host:hover {
    color: brown;
    cursor: pointer;
}

#link-container {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 8px;
    width: 80vw;
    max-width: 500px;
    border: 4px dashed white;
    margin-top: 30px;
    width: 150px;
}